# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 2
trim_trailing_whitespace = true

[**{Makefile, .mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[**{.yaml, .yml}]
end_of_line = lf
