.github/
.husky/
.idea/
.vscode/
src/
tests/
__tests__/
*.tgz
*.log
*.tsbuildinfo
coverage/
node_modules/
.DS_Store
.editorconfig
.env
.eslintrc.js
.gitignore
.prettierrc.js
.releaserc.js
biome.json
jest.config.mjs
local-dev-wif.json
release.config.js
tsconfig.json
